@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #0A4D68;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}


.register-background {
    /* background-image: linear-gradient(to bottom right,rgb(49 46 129), black); */
    background-repeat: repeat;
    padding: 5px;
}

.padding-x-10{
    padding-right: 10px;
} 
.padding-y-5{
    padding: 0px 5px;
}

.navbar {
    background-color: white;
    /* filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)); */
    border: 2px solid rgb(226 232 240);
    border-radius: 0px 0px 10px 10px;
    border-top: none;
    position: fixed;
    top: 0;
    left: 25%;
    right: 25%;
    z-index: 100;
    
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.cursor-pointer {
    cursor: pointer;
}


.primary, .secondary {
    border-style: solid;
    border-width: 2px;
    border-color: #00337C;
    border-radius: 5px;
    cursor: pointer;
    /* margin: 2px 6px; */
}

input {
    background-color: transparent;
}

::-webkit-input-placeholder{
    color: black;
    opacity: 60%;
}

.primary {
    background-color: #00337C;
    color: white;
    padding: 5px 22px;
    font-size: large;
}
.secondary {
    padding: 5px 10px;
    border-width: 2px;
}

.primary:hover {
    opacity: 85%;
    transition-delay: 100ms;
}
    
.secondary:hover {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.text-large {
    font-size: 1.125rem; 
    line-height: 1.75rem; 
}

.flex {
    display: flex;
    justify-content: center;
    /* padding: 20px 20px; */
    flex-direction: row;
}

.radio-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 5px;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.nav-items {
    margin: auto 0px;
}

.nav-item {
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    font-size: large;
    margin: 2px 12px;
}
.nav-item:hover {
    background-color: rgb(243 244 246);
    cursor: pointer;
}

.overlay {
    background-image: linear-gradient(to bottom right, black, rgb(31 41 55));
    /* background-blend-mode: hard-light; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 90%;
}

/* Login Page */
.box, .register-box {
    margin: 50px auto;
    border-radius: 0px 20px 0px 20px;
    width: 30%;
    border: 2px solid rgb(203 213 225);
    z-index: 999;
    background-color: white;
}

.register-box {
    width: 50%;
}

.z8{
    z-index: 999;
}

.container {
    padding: 50px;
    background: linear-gradient(45deg, #1C82AD, #03C988);;
    border-radius: 0px 20px 0px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(203 213 225);
}


.back-btn {
    font-size: large;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    /* padding: 5px 10px; */
}

#btn {
    margin-top: 20px;
}

.margin-left-2 {
    margin-left: 2px;
}

.margin-left-5 {
    margin-left: 5px;
}

.heading {
    font-size: xx-large;
}

#button-container {
    margin-top: 180px;
}

.register {
    font-size: medium;
    /* padding-top: 15px;   */
    padding: 20px;
    border-top: 1px solid rgb(203 213 225);
    display: flex;
    justify-content: center;
}

.link {
    color:rgb(49 46 129);
    cursor: pointer;
}

.relative {
    position: relative;
}

.move-out-left {
    animation-name: move-out-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.move-in-right {
    animation-name: move-in-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.move-reverse {
    animation-direction: reverse;
}

.animation-delay {
    animation-delay: 500ms;
}

.move-in-left {
    animation-name: move-in-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.move-out-right {
    animation-name: mov;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.shake {
    animation: shake;
    animation-duration: 300ms;
    animation-timing-function: linear;
}



/* Login  */
#email, #firstName, #lastName, #dob, #designation, #userName, #password {
    margin-top: 50px;
    margin-bottom: 15px;
    border: 1px solid rgb(203 213 225);
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    width: 50%;
}

#username:focus, #password:focus, #re-password:focus, #email:focus, #firstName:focus, #lastName:focus, #dob:focus {
    outline: 1px solid black;
}

#status {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#train-image {
    height: 100%;
    width: 100%;
}

#error-message {
    color: red;
    display: flex;
    justify-content: center;
}

#submit {
    justify-content: center;
}

@keyframes move-out-left {
    0% {transform: translate(0%, 0%); opacity: 1;}
    17% { opacity: 0; display: none;}
    100% {transform: translate(-500%, -0%); opacity: 0;}
}

@keyframes move-in-right {
    0% {transform: translate(-500%, 0%); opacity: 0;}
    83% { opacity: 0; display: static;}
    100% {transform: translate(-0%, -0%); opacity: 1;}
}

@keyframes move-in-left {
    0% {transform: translate(500%, 0%); opacity: 0;}
    83% {opacity: 0; display: none;}
    100% {transform: translate(-0%, -0%); opacity: 1;}
}

@keyframes mov {
    0% {transform: translate(0%, 0%); opacity: 1;}
    17% {opacity: 0; display: none;}
    100% {transform: translate(500%, 0%); opacity: 0;}
}

@keyframes shake {
    /* height: 100vw; */
    0% {transform: translate(0%, 0%);}
    20% {transform: translate(-5%, 0%);}
    40% {transform: translate(5%, 0%);}
    60% {transform: translate(-5%, 0%);}
    80% {transform: translate(5%, 0%);}
    100% {transform: translate(0%, 0%);}
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(71 85 105); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 200%;
}